.col-md-12
  %h1.main-header.center Categories
  #categories
    - categories.each do |category|
      .col-md-4
        = link_to category do
          %p.category-item.center= category.name

        %span.category-links
          - if user_signed_in? && current_user.admin?
            = link_to "New Category", new_category_path
            = link_to "Edit", edit_category_path(category)
            = link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }