.container
	.col-md-12
		%span.return_category= link_to "Back", category_path(category), class: "btn btn-default"
	#product_show.col-md-12
		%h1= product.title
		.product_image.col-md-6
			%img.img-responsive{src: "http://placehold.it/650x500", alt: "Product Image"}
		.col-md-6
			.product_description
				= simple_format(product.description)
			.product_price
				%p
					Price
					= number_to_currency(product.price, unit: "$")
			.product_rating
				%p
					Average rating:
					%b= "#{product.average_rating.to_i} / 5"
					based on
					= pluralize(product.reviews.size, "Review")
				- if is_admin?
					= link_to 'Edit', edit_category_product_path(category, product)
					= link_to "Delete",category_product_path(category, product), method: :delete, data: {confirm: "Are You sure?"}

	#reviews.col-md-12
		.col-md-6
			%h3.review_count= pluralize(product.reviews.size, "Review")
			.reviews
				= render reviews
		.col-md-6
			- if user_signed_in?
				%h4 New Review(max 255 characters)
				= render 'reviews/form'

